@use '../helpers' as *;

.game-pannel {

    &__player-score {
        display: flex;
        align-items: center;
        position: absolute;
        background-color: var(--background);
        border-radius: rem(15);
        top: rem(15);
        left: rem(30);
    }

    &__image {
        padding: rem(10);
    }

    &__enemy-score {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: absolute;
        background-color: var(--background);
        border-radius: rem(15);
        top: rem(10);
        right: rem(20);
    }

    &__enemy-value {
        &>p {
            font-size: fluid(32, 16);
        }
    }

    &__player-value {
        &>p {
            font-size: fluid(32, 16);
        }
    }

    &__sound-toggle {
        position: absolute;
        top: 3%;
        left: 15%;
        border: none;
        background-color: var(--background);
        border-radius: rem(15);

        @include tablet {
            left: 20%;
        }

        &>span {
            &>svg {
                height: auto;
                width: fluid(60, 20);
            }
        }

        &:hover {
            transform: scale(0.9);
            transition-duration: var(--transition-duration);
        }
    }
}