@use '../helpers' as *;

.start-game {
    position: absolute;
    padding-top: rem(80);
    background-color: none;
    width: 100%;
    height: 100%;
    color: var(--color-light);
    user-select: none;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
        margin-top: rem(40);
        border-radius: rem(15);
        background: var(--background);
        max-width: 70%;
        padding: fluid(20, 10);
    }

    &__subtitle {
        font-size: fluid(36, 24);
        text-decoration: underline;
        text-underline-offset: rem(10);
        font-family: var(--font-family-accent);
        letter-spacing: rem(4);
    }

    &__title {
        font-size: fluid(42, 24);
        padding-top: rem(10);
        color: var(--color-red);
    }

    &__target {
        &>p {
            display: inline-flex;
            align-items: center;
            padding-top: fluid(60, 32);
            font-size: fluid(32, 16);
        }
    }

    &__description {
        &>p {
            display: inline-flex;
            align-items: center;
            padding-top: fluid(40, 20);
            font-size: fluid(32, 16);
        }
    }

    &__rules {
        &>p {
            display: inline-flex;
            align-items: flex-start;
            text-align: center;
            font-size: fluid(32, 16);
            padding-top: rem(30);
        }
    }

    &__button-wrapper {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: fluid(40, 20);
        margin-bottom: fluid(20, 10);
        font-size: fluid(36, 16);
        padding-top: fluid(10, 5);
        padding-inline: fluid(50, 10);
        border-radius: rem(15);
        background-color: var(--color-red-accent);
        color: var(--color-light);

        &:hover {
            transform: scale(0.9);
            transition-duration: var(--transition-duration);
        }
    }
}